Checks: >
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  portability-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-avoid-c-arrays,
  -hicpp-*
WarningsAsErrors: '*'
HeaderFilterRegex: 'compiler/src/.*|compiler/include/.*'
AnalyzeTemporaryDtors: false
FormatStyle: none
User: auto
CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL,0'
  - key:             modernize-use-using.CheckUsingShadowing
    value:           'false'
  - key:             readability-identifier-naming.NamespaceCase
    value:           CamelCase
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.VariableCase
    value:           camelBack
  - key:             readability-function-cognitive-complexity.Threshold
    value:           '25'